:root {
    --border-radius: 0.3rem;
    --light-dark: #a8a8a8; 
    --primary: #9b9b9b;
    --secondary: #ebc9c9;
    --tertiary: #faaef0;
    --dark: #202020;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 16px;
    color: var(--dark);
}
  
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--dark);
    margin: 0;
    line-height: 1.25;
}

h2 a {
    color: var(--primary);
}
 
h2 a:visited {
    color: var(--tertiary);
}
  
a {
    text-decoration: none;
}
  
header {
    margin-top: 50px;
}

main{
    margin: 20px auto;
    width: 90%; 
}

.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}
  
.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}
  
.card-header h2 {
    color: var(--primary);
}

.card-body {
    padding: 1%;
}
  
p {
    font-size: 1.2rem;

}

input {
    background: #FFF;
    margin: 0 0 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;

}

.btn {
    padding: 6px 5px;
    width: 100%;
    display: block;
    font-size: 1.3rem;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    color: var(--primary);
    background-color: var(--light-dark);
    text-decoration: none;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn-inline {
    display: inline;
}
  
.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    box-shadow: 2px 2px var(--dark);
}

.hero {
    color: var(--primary); 
    background-color: var(--dark);  
    padding: 3% 4%;

}
  
.hero p {
    max-width: 75%;
}

.navbar {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
}

.nav-item a {
    color: var(--primary);
}  

.nav-item {
    margin: 0 40px;
}

.app-title {
    color: var(--dark);
    background-color: var(--primary);
    display: inline-block;
    font-size: 3rem;
    padding: 0 10px;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}

.app-title a {
    color: var(--dark);
}

.list-item:hover {
    background-color: var(--dark);

}

.list-group {
    padding: 1%;
}
  
.list-item {
    color: var(--primary);   
    background-color: var(--light-dark);  
    border-radius: var(--border-radius);  
    margin-bottom: 10px;
    padding: 1.5%;
    text-decoration: none;
}
 
.footer a {
    color: var(--primary);  
    background-color: var(--dark);
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    margin-bottom: .5em;
    border-radius: var(--border-radius);
   
}
  
.form-label, .form-input, .form-textarea {
  display: block;
}

.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

  
.form-input {
    font-size: 1.2rem;  
    width: 100%;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
    padding: 1%;
    margin: 5px 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}  

.justify-flex-start {
    justify-content: flex-start;
}
  
.justify-flex-end {
    justify-content: flex-end;
}
  
.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}
  
.align-end {
    align-items: flex-end;
}
  
